article, nav, header, section, footer { display: block; }
* { margin: 0; padding: 0; }

@font-face {
	font-family: 'KingthingsVersalisRegular';
	src: url('fonts/Kingthings_Versalis-webfont.eot');
	src: local('?'), url('fonts/Kingthings_Versalis-webfont.woff') format('woff'), url('fonts/Kingthings_Versalis-webfont.ttf') format('truetype'), url('fonts/Kingthings_Versalis-webfont.svg#webfonthxvjSG7f') format('svg');
	font-weight: normal;
	font-style: normal;
}

header#pageHead { background: #333; }
h1 {    
    font-size: 2em;
    color: #FFF;
    width: 700px;
    background: #333;
    margin: auto;
    padding: 10px 0; 
    font: 40px 'KingthingsVersalisRegular', Arial, sans-serif;
}

div#mainWrap { margin: 15px auto; width: 700px; font-family: arial, helvetica, sans-serif; }



#addBlogPostLink { margin: 20px; display: block; text-align: center; color: #282; font-weight: bold; text-decoration: none; }
#addPost { display: none; }
#adminAddPost section { border: 1px solid #333; border-radius: 20px; background: #DFD; }
#adminAddPost section form { margin: 25px; }
#adminAddPost section form label { display: block; font-weight: bold; } 

article { margin: 15px 0; font-size: .85em; line-height: 1.6; }
article h2 { border-bottom: 1px solid #333; color: #333; margin: 0 0 1em 0; font-size: 25px;}
article .adminBar { font-size: .8em; text-align: right; position: relative; top: 35px; }
article .adminBar .deletePostLink {color: red; }

footer { clear: both; background: #333; text-align: center; color: #FFF; padding: 20px 0; margin-top: 20px; }