article, nav, header, section, footer { display: block; }
* { margin: 0; padding: 0; }

@font-face {
	font-family: 'KingthingsVersalisRegular';
	src: url('fonts/Kingthings_Versalis-webfont.eot');
	src: local('☺'), url('fonts/Kingthings_Versalis-webfont.woff') format('woff'), url('fonts/Kingthings_Versalis-webfont.ttf') format('truetype'), url('fonts/Kingthings_Versalis-webfont.svg#webfonthxvjSG7f') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 { 
font-size: 2em; 
border-bottom: 1px solid #333; 
color: #333; 
margin: 20px 0; 
font: 60px/68px 'KingthingsVersalisRegular', Arial, sans-serif;letter-spacing: 0;


}

body { margin: auto; width: 700px; font-family: arial, helvetica, sans-serif; }

nav {
    float: left;
    width: 200px;
}

nav ul li { list-style-type: none; }
div#contentArea {
    float: left;
    width: 500px;
}

footer { clear: both; }

#addBlogPostLink { margin: 20px; display: block; text-align: center; color: #282; font-weight: bold; text-decoration: none; }
#addPost { display: none; }
#adminAddPost section { border: 1px solid #333; border-radius: 20px; background: #DFD; }
#adminAddPost section form { margin: 25px; }
#adminAddPost section form label { display: block; font-weight: bold; } 
