article, nav, header, section, footer { display: block; }
* { margin: 0; padding: 0; }

@font-face {
	font-family: 'KingthingsVersalisRegular';
	src: url('fonts/Kingthings_Versalis-webfont.eot');
	src: local('☺'), url('fonts/Kingthings_Versalis-webfont.woff') format('woff'), url('fonts/Kingthings_Versalis-webfont.ttf') format('truetype'), url('fonts/Kingthings_Versalis-webfont.svg#webfonthxvjSG7f') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 { 
    font-size: 2em; 
    border-bottom: 1px solid #333; 
    color: #333; 
    margin: 20px 0; 
    font: 60px/68px 'KingthingsVersalisRegular', Arial, sans-serif;letter-spacing: 0;
}

body { background: #eeebec; margin: auto; width: 990px; font-family: arial, helvetica, sans-serif; }


div#wrap {
    padding: 1em 1em 2em 1em;
    background: #fff;
    margin-bottom: 1em;
    border: 0.01em solid #ccc;
}

footer { clear: both; }

#addBlogPostLink { margin: 20px; display: block; text-align: center; color: #282; font-weight: bold; text-decoration: none; }
#addPost { display: none; }
#adminAddPost section { border: 1px solid #333; border-radius: 20px; background: #DFD; }
#adminAddPost section form { margin: 25px; }
#adminAddPost section form label { display: block; font-weight: bold; } 

.adminBar { 
    float: right;
    margin-bottom: 3em;
 }

a {
    text-decoration: none;
    color: #AD1443;
}

a:hover {
    text-decoration: underline;
}

article {
    padding-top: 20px;
    padding-bottom: 10px;
}

article header, article .adminBar, footer {
    margin: 0px;
    padding-bottom: 10px;
    letter-spacing: -1px;
    padding: 5px 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-style: italic;
}

article header {
    border-top: 1px solid #CCC2A9;
    border-bottom: 1px solid #CCC2A9;
}


footer {
    padding-top: 4em; 
    clear: both;
    text-align: center;
}

#two-columns {
    font-size: 0.9em;
    margin: 0px auto;
    padding: 30px 30px 20px 30px;
}

#two-columns h2 {
    color: #3B3B3B;
}

#column1 {
    float: left;
    width: 50%;
}

#column2 {
    float: right;
    width: 50%;
}

div.clear {
    clear: both;
}

span.small {
    font-size: 0.7em;
    font-style: italic;
}
